.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 120s linear;
  height: 80px;
}

.App-header {
  background-color: #33a93b;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
section.console {
  display: flex;
  flex: 1;
}
section.console > * {
  text-align: left;
  padding-left: 20px;
  overflow-x: auto;
  flex: auto;
}
section.console > * + * {
  margin-left: 10px;
  padding-left: 10px;
  border-left: dotted 1px silver;
}
section.console > form {

  flex: 0 0 auto;
  width: 400px;

}
form label {
  display: flex;
}
form label > *:not(button) {
  flex: 1;
  height: 30px;
  line-height: 30px;
  border: solid 1px black;
}
form label .label-text {
  flex: 0 0 auto;
  text-align : left;
  border: solid 1px white;
}
form input[type=text] {
  height: 30px;
  padding: 0 10px;
}
form .controls {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: white;
}
.editor {
  white-space: pre;
  font-size: 10pt;
}